Chromecast-flows.json
[{"id":"ae3ba350.a13bf","type":"tab","label":"Chromecast","disabled":false,"info":""},{"id":"ac102601.71d7b8","type":"mqtt in","z":"ae3ba350.a13bf","name":"","topic":"meta/Chromecast/#","qos":"2","datatype":"auto","broker":"fa527635.1f1568","x":130,"y":260,"wires":[["5f38103f.57cf5"]]},{"id":"d2d6229d.dd972","type":"debug","z":"ae3ba350.a13bf","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":60,"wires":[]},{"id":"cc909f4d.e9f6f","type":"cast-to-client","z":"ae3ba350.a13bf","name":"","url":"","contentType":"","message":"","language":"en","ip":"","port":"","volume":"","x":550,"y":160,"wires":[["d2d6229d.dd972"]]},{"id":"5f38103f.57cf5","type":"function","z":"ae3ba350.a13bf","name":"","func":"let topic = msg.topic.split(\"/\");\nmsg.ip = topic[2].split(\" - \")[topic[2].split(\" - \").length - 1];\nif (topic[3]=='slider' && topic[4]=='VOLUME')\n{\n    msg.volume = Number(msg.payload);\n}\nif (topic[3]=='button' && topic[4]=='PLAY')\n{\n    msg.volume = Number(msg.payload);\n}\nif (topic[3]=='button' && topic[4]=='STOP')\n{\n    msg.volume = Number(msg.payload);\n}\nif (topic[3]=='url')\n{\n    msg.url = msg.payload;\n    msg.contentType = 'audio/basic'\n}\nmsg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":160,"wires":[["cc909f4d.e9f6f","d2d6229d.dd972"]]},{"id":"583f083e.c0bba8","type":"inject","z":"ae3ba350.a13bf","name":"","props":[{"p":"url","v":"http://direct.francemusique.fr/live/francemusiqueeasyclassique-hifi.mp3","vt":"str"},{"p":"ip","v":"192.168.10.196","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":370,"y":240,"wires":[["cc909f4d.e9f6f"]]},{"id":"b01f9052.5a333","type":"debug","z":"ae3ba350.a13bf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":380,"y":380,"wires":[]},{"id":"dda6181d.302ca8","type":"mqtt in","z":"ae3ba350.a13bf","name":"","topic":"meta/#","qos":"2","datatype":"auto","broker":"fa527635.1f1568","x":160,"y":440,"wires":[["b01f9052.5a333"]]},{"id":"fa527635.1f1568","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]